<!DOCTYPE html>
<html ng-app="app">
	<head>
	    <title>Amatea::</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	    <link rel='stylesheet' href='/stylesheets/style.css' />
	    <link rel="stylesheet" href = "http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  	</head>
<body>
<h3>Eres parte de esta jornada!</h3>
<div class="alert alert-success" role="alert">!GRACIAS POR ACOMPAÑARNOS!</div>
<p>Entra en <a href="http://www.amatea.org">amatea.org</a> y conocenos</p>

</body>
</html>