<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="#/admin">Inicio</a></li>
  <li role="presentation"><a href="#/lista_pagos">Pagos</a></li>
  <li role="presentation"><a href="#/lista_cotizacion">Cotizaciones</a></li>
  <li role="presentation"><a href="#/lista_proveedores">Proveedores</a></li>
  <li role="presentation"><a href="#/lista_facturas">Facturas</a></li>
  <li role="presentation"><a href="#/arboles">Lista de Arboles</a></li>
  <li role="presentation"><a href="#/jornada_ecologica">Jornadas Ecologicas</a></li>
  <li role="presentation"><a href="#/" ng-click="logout()">Cerrar Sesion</a></li>
</ul>