<div>
    <dendros-administrador></dendros-administrador>
</div>
<hr>
<div class="row">
  <div class="col-xs-12 col-md-8">
    <a ng-href="#/crear_jornada">
        <button class="btn btn-success" ng-click="clickCreate()">
            <span class="glyphicon glyphicon-leaf"></span> Crear Nueva Jornada
        </button>
    </a>
  </div>
  <div class="col-xs-6 col-md-4">Buscar:: <input type="text" ng-model="keywords"></div>
</div>   
<hr>
    <table class="table table-striped ">
        <thead>
        <tr>
            <th> <a href=""  ng-click="sort('jornada_id')">Id</a></th>
            <th> <a href=""  ng-click="sort('titulo')">Titulo</a></th>
            <th> <a href=""  ng-click="sort('cliente_id')">Cliente</a></th>
            <th> <a href=""  ng-click="sort('numero_participantes')">Numero de Participantes</a></th>
            <th> <a href="#/inventarios/{{jornada_id}}"  ng-click="sort('numero_arboles')">Numero de Arboles</a></th>
            <th> <a href=""  ng-click="">Interpretes</a></th>
            <th> <a href=""  ng-click="">Coordenada</a></th>
            <th> <a href=""  ng-click="sort('fecha')">Fecha</a></th>
            
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in pageUsers | orderBy : '- fecha' | filter:keywords ">
            <td >{{ user.jornada_id }} </td>
            <td >{{ user.titulo }} </td>
            <td >{{ user.cliente_id }} </td>
            <td >{{ user.numero_participantes }} </td>
            <td >{{ user.numero_arboles}} </td>
            <td >{{ user.interpretes}} </td>
            <td >{{ user.coordenada}} </td>
            <td >{{ user.fecha | date}} </td>
            
            <td>
        </td>
        </tr>
        </tbody>
    </table>
    <hr>
    <ul class="pagination" ng-repeat="index in autoPaging"  >
        <li><a href="" ng-click="setPageIndex(index)">{{ index }}</a></li>
    </ul>