body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.headerTmpl {
	position: relative;
	overflow: inherit;
	display: inline-block;
	width: 100%
}

	.info{
	width: 300px;
		
	}

	.h_logo{
		float: right;
		width: 100px;
		margin-top: -60px;
		margin-right: 50px;
	}

.done-Cumplida {
	text-decoration: line-through;
	color: grey;
}