<h3>Create New User:</h3>

<form class="form-horizontal" name="myForm1">
    <div class="form-group">
        <label class="col-sm-2 control-label">First Name:</label>
        <div class="col-sm-10">
            <input type="text" ng-model="user.fName"  placeholder="First Name" required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Last Name:</label>
        <div class="col-sm-10">
            <input type="text" ng-model="user.lName"  placeholder="Last Name" required>
        </div>
    </div>
 
</form>

<hr>
<a ng-href="#/edit">
<button class="btn btn-success" ng-click="submitCreate()"  ng-disabled="passw1!==passw2 || !myForm1.$valid">
    <span class="glyphicon glyphicon-save"></span>Save Changes
</button>
</a>

