<div>
    <dendros-administrador></dendros-administrador>
</div>
<hr>
<h3>Listado de Clientes::</h3>
<hr>
<div class="row">
  <div class="col-xs-12 col-md-8">
    <a ng-href="#!/crear_cliente">
        <button class="btn btn-success" ng-click="clickCreate()">
            <span class="glyphicon glyphicon-globe"></span> Crear Nuevo Cliente
        </button>
    </a>
  </div>
  <div class="col-xs-6 col-md-4">Buscar:: <input type="text" ng-model="keywords"></div>
</div>   
<hr>
    <table class="table table-striped ">
        <thead>
        <tr>
            <th> Editar</a></th>
            <th> Id Cliente</a></th>
            <th> Nombre</a></th>
            <th> NIT</th>
            <th> Tipo</th>
            <th> Email</th>
            <th> Ciudad</th>
            <th> Fecha</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="cliente in clientes | orderBy : '-_id' | filter:keywords ">
            <td>
                <a href="#!/edit_cliente/{{cliente._id}}">
                <button  class="btn" >
                    <span class="glyphicon glyphicon-pencil"></span>Editar
                </button>
                </a>
            </td>
            <td >{{ cliente.clienteId }} </td>
            <td>{{ cliente.razonsocial }}</td>
            <td>{{ cliente.nit}}</td>
            <td>{{ cliente.tipo }}</td>
            <td>{{ cliente.correo }}</td>
            <td>{{ cliente.ciudad }}</td> 
            <td>{{ cliente.fecha | date}} </td> 
        </tr>
        </tbody>
    </table>
    <hr>
    
