<hr>
Buscar:: <input type="text" ng-model="keywords">
<hr>

    <table class="table table-striped ">
        <thead>
        <tr>
            <th> Plantas Id</a></th>
            <th> Nombre Comun</a></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="siembra in pageUsers | orderBy : 'plantas_id' | filter:keywords ">
            <td >{{ siembra.plantas_id }} </td>
            <td>{{ siembra.nombre_comun }}</td>
        </tr>
        </tbody>
    </table>
    <hr>

    <ul class="pagination" ng-repeat="index in autoPaging"  >
        <li><a href="" ng-click="setPageIndex(index)">{{ index }}</a></li>

    </ul>