<hr>
<h3>Listado de Aves:: {{hola}}</h3>
<hr>
<div class="row">
  <div class="col-xs-12 col-md-8">
    <a ng-href="#/crear_ave">
        <button class="btn btn-success" ng-click="clickCreate()">
            <span class="glyphicon glyphicon-cloud"></span> Insertar Nuevo Registro
        </button>
    </a>
  </div>
  <div class="col-xs-6 col-md-4">Buscar:: <input type="text" ng-model="keywords"></div>
</div>   
<hr>
<table class="table table-striped ">
    <thead>
    <tr>
        <th>Editar</th>
        <th> Item</a></th>
        <th> Nombre Comun</a></th>
        <th> Nombre Científico</a></th>
        <th> Nombre Ingles</th>
        <th> Familia </th>
        <th> Estado </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="ave in aves | orderBy : '- _id' | filter:keywords ">
        <td>
            <a  ng-href="#/aves">
            <button  class="btn" ng-click="clickEdit(user.id)">
                <span class="glyphicon glyphicon-pencil"></span>Editar
            </button>
            </a>
        </td>
        <td>{{ ave.aveId }}</td>
        <td><a href="#/avesDetalle/{{ave._id}}">{{ ave.nombre_comun }}</td>
        <td>{{ ave.nombre_cientifico }}</td>
        <td>{{ ave.nombre_ingles }}</td>
        <td>{{ ave.familia }}</td>
        <td>{{ ave.estado_conservacion }}</td>
    </tr>
    </tbody>
</table>
<hr>
