<div class="noticias_titulo">
	<h1>Aves ::</h1>
</div>
<section class="noticias_detalle">
	<h3 >Nombre Comun:: {{dato.nombre_comun}}</h3>
	<p>Numero Ave:: {{dato.aveId}}</p>
	<p>Nombre Cientifico:: {{dato.nombre_cientifico }}</p>
	<p>nombre ingles:: {{dato.nombre_ingles }}</p>
	<p>Familia:: {{dato.familia}}</p>
	<p>Rango altitudinal: {{dato.rango_altura}}</p>
	<p>Habitat: {{dato.habitat}}</p>
	<p>Descripcion: {{dato.descripcion_ave}}</p>
	<p>Estado de conservacion: {{dato.estado_conservacion}}</p>
	<p>Actividad del Ave: {{dato.actividad_ave}}</p>
	<p>Coordenada:: {{dato.coordenada}}</p>
	<p>Canto:: {{dato.canto}}</p>
	<p>Foto Macho:: {{dato.foto_macho}}</p>
	<p>Foto Hembra:: {{dato.foto_hembra}}</p>
	<p>Fotografo:: {{dato.fotografo}}</p>
	<h6 class="noticias_fecha">{{dato.fecha |  date:'medium'}}</h6>
</div>
</section>
<hr>
<section>
	<div class="noticias_botones">
		<a href="#/aves"><md-button class="md-raised md-primary md-hue-3">Volver Inicio</md-button></a>
	</div>
</section>
