<hr>
<h3 class="glyphicon glyphicon-cloud"> Agregar Registro de Aves::</h3>
<hr>
<form class="form-horizontal" name="myForm1">
    <div class="form-group">
        <label class="col-sm-2 control-label">Nombre Científico ::</label>
        <div class="col-sm-10">
            <input type="text" ng-model="ave.nombre_cientifico" required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Nombre Ingles ::</label>
        <div class="col-sm-10">
            <input type="text" ng-model="ave.nombre_ingles" >
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Nombre Común ::</label>
        <div class="col-sm-10">
            <input type="text" ng-model="ave.nombre_comun" required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Familia ::</label>
        <div class="col-sm-10">
            <input type="text" ng-model="ave.familia" required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Rango (altura) ::</label>
        <div class="col-sm-10">
            <input type="text" ng-model="ave.rango_altura" required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Habitat ::</label>
        <div class="col-sm-10">
            <input type="text" ng-model="ave.habitat" required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Descripcion del ave ::</label>
        <div class="col-sm-10">
        <textarea  rows="10" cols="30" ng-model="ave.descripcion_ave" required></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Actividad del ave ::</label>
        <div class="col-sm-10">
            <textarea  rows="10" cols="30" ng-model="ave.actividad_ave" required></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Estado de Conservacíon ::</label>
        <div class="col-sm-10">
            <input type="textarea" ng-model="ave.estado_conservacion">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Coordenada ::</label>
        <div class="col-sm-10">
            <input type="textarea" ng-model="ave.coordenada">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Canto ::</label>
        <div class="col-sm-10">
            <input type="textarea" ng-model="ave.canto">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Foto Macho ::</label>
        <div class="col-sm-10">
            <input type="textarea" ng-model="ave.foto_macho">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Foto Hembra ::</label>
        <div class="col-sm-10">
            <input type="textarea" ng-model="ave.foto_hembra">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Foto adicional 1 ::</label>
        <div class="col-sm-10">
            <input type="textarea" ng-model="ave.foto1">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Foto adicional 2 ::</label>
        <div class="col-sm-10">
            <input type="textarea" ng-model="ave.foto2">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Fotografo ::</label>
        <div class="col-sm-10">
            <input type="textarea" ng-model="ave.fotografo">
        </div>
    </div>
 
</form>

<hr>
<a ng-href="#/aves">
<button class="btn btn-success" ng-click="submitCreate()" >
    <span class="glyphicon glyphicon-save"></span> Guardar
</button>
</a>