<hr>
Buscar:: <input type="text" ng-model="keywords">
<hr>

    <table class="table table-striped ">
        <thead>
        <tr>
            <th> Cliente Id</a></th>
            <th> Razón Social</a></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="cliente in pageUsers | orderBy : 'cliente_id' | filter:keywords ">
            <td >{{ cliente.cliente_id }} </td>
            <td>{{ cliente.razon_social }}</td>
        </tr>
        </tbody>
    </table>
    <hr>

    <ul class="pagination" ng-repeat="index in autoPaging"  >
        <li><a href="" ng-click="setPageIndex(index)">{{ index }}</a></li>

    </ul>