<div>
    <dendros-administrador></dendros-administrador>
</div>

<h3>Agregar Proveedor:</h3>

<form class="form-horizontal" name="myForm1">
    <div class="form-group">
        <label class="col-sm-2 control-label">Razon Social:</label>
        <div class="col-sm-10">
            <input type="text" ng-model="proveedor.razon_social" required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">NIT:</label>
        <div class="col-sm-10">
            <input type="number"  ng-model="proveedor.NIT"  required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Dirección:</label>
        <div class="col-sm-10">
            <input type="text" ng-model="proveedor.direccion" >
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Telefono:</label>
        <div class="col-sm-10">
            <input type="number" ng-model="proveedor.telefono"  placeholder="No" >
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Representante Legal:</label>
        <div class="col-sm-10">
            <input type="text" ng-model="proveedor.representante_legal">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Cedula Representate:</label>
        <div class="col-sm-10">
            <input type="number" ng-model="proveedor.cedula_representante">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Numero de Cuenta:</label>
        <div class="col-sm-10">
            <input type="number" ng-model="proveedor.cuenta_bancaria">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Tipo de Cuenta:</label>
        <div class="col-sm-10">
            <input type="text" ng-model="proveedor.tipo_cuenta">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Banco:</label>
        <div class="col-sm-10">
            <input type="text" ng-model="proveedor.banco">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Fecha:</label>
        <div class="col-sm-10">
            <input type="date"  ng-model="proveedor.fecha"  required>     
        </div>
    </div>
 
</form>

<hr>
<a ng-href="#/lista_proveedores">
<button class="btn btn-success" ng-click="submitCreate()" >
    <span class="glyphicon glyphicon-save"></span>Guardar
</button>
</a>