<div>
    <dendros-administrador></dendros-administrador>
</div>
<hr>
<div class="row">
  <div class="col-xs-12 col-md-8">
    <a ng-href="#/crear_proveedor">
        <button class="btn btn-success" ng-click="clickCreate()">
            <span class="glyphicon glyphicon-user"></span> Crear Proveedor
        </button>
    </a>
  </div>
  <div class="col-xs-6 col-md-4">Buscar:: <input type="text" ng-model="keywords"></div>
</div>   
<hr>
    <table class="table table-striped ">
        <thead>
        <tr>
            <th> Editar</a></th>
            <th> Id Proveedor</a></th>
            <th> Nombre</a></th>
            <th> NIT</th>
            <th> Banco</th>
            <th> Tipo</th>
            <th> Cuenta</th>
            <th> Fecha</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="proveedor in proveedores | orderBy : '- _id' | filter:keywords ">
            <td>
                <a  ng-href="#/edit">
                <button  class="btn" ng-click="clickEdit(user.id)">
                    <span class="glyphicon glyphicon-pencil"></span>Editar
                </button>
                </a>
            </td>
            <td>
            	<button type="button" class="btn btn-info">
                    {{ proveedor.proveedorId }}
            	</button>
            </td>
            <td>{{ proveedor.razon_social }}</td>
            <td>{{ proveedor.NIT }}</td>
            <td>{{ proveedor.banco }}</td>
            <td>{{ proveedor.tipo_cuenta }}</td>
            <td>{{ proveedor.cuenta_bancaria }}</td> 
            <td>{{ proveedor.fecha | date}} </td> 
        </tr>
        </tbody>
    </table>
    <hr>

    
