<div>
    <dendros-administrador></dendros-administrador>
</div>
<hr>
<div class="row">
  <div class="col-xs-12 col-md-8">
    <a ng-href="#/crear_pago">
        <button class="btn btn-success">
            <span class="glyphicon glyphicon-user"></span>Crear Nuevo Pago
        </button>
    </a>
  </div>
  <div class="col-xs-6 col-md-4">Buscar:: <input type="text" ng-model="keywords"></div>
</div>   
<hr>
    <table class="table table-striped ">
        <thead>
        <tr>
            <th>Editar</th>
            <th> Id Proveedor</a></th>
            <th> Tipo de Servicio</a></th>
            <th> Nombre Proveedor</th>
            <th> <a href=""  ng-click="sort('nit')">NIT</a></th>
            <th> <a href=""  ng-click="sort('banco')">Banco</a></th>
            <th> <a href=""  ng-click="sort('tipo_cuenta')">Tipo</a></th>
            <th> <a href=""  ng-click="sort('numero_cuenta')">Cuenta No</a></th>
            <th> <a href=""  ng-click="sort('valor')">Valor</a></th>
            <th> <a href=""  ng-click="sort('proyecto')">Proyecto</a></th>
    		<th> <a href=""  ng-click="sort('fecha')">Fecha</a></th>
    		<th> <a href=""  ng-click="sort('estado')">Estado</a></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="pago in pageUsers | orderBy : '- pago_id' | filter:keywords ">
            <td>
                <a  ng-href="#/edit">
                <button  class="btn" ng-click="clickEdit(user.id)">
                    <span class="glyphicon glyphicon-pencil"></span>Editar
                </button>
                </a>
            </td>
            <td >{{ pago.proveedor_id }} </td>
            <td>{{ pago.servicio_id }}</td>
            <td>{{ pago.razon_social }}</td>
            <td>{{ pago.nit }}</td>
            <td>{{ pago.banco }}</td>
            <td>{{ pago.tipo_cuenta }}</td>
            <td>{{ pago.numero_cuenta }}</td>
            <td>{{ pago.valor | currency: $ :0 }}</td>
            <td>{{ pago.proyecto }}</td>
            <td>{{ pago.fecha | date}} </td> 
            <td>
            <button class="btn" ng-class="{Pagado:'btn-success', Pendiente:''}[pago.estado]" ng-click="changePagosStatus(pago);">{{pago.estado}}</button>
        	</td>
        </tr>
        </tbody>
    </table>
    <hr>

    <ul class="pagination" ng-repeat="index in autoPaging"  >
        <li><a href="" ng-click="setPageIndex(index)">{{ index }}</a></li>

    </ul>
    
